.homepage {
    background: #f5f5f5;

}

.homepage .static_frame {
    width: 100%;
    background: #f5f5f5;
    height: 150px;
    /* background-size: cover; */
}

.homepage .static_frame_static_frame {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.homepage .character_img.left {
    /* position: absolute; */
    width: 65px;
    height: 65px;
    background: url('/public/home/truck.svg');
    background-repeat: no-repeat;
    background-size: cover;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.homepage .character_img.middle {
    /* position: absolute; */
    width: 65px;
    height: 65px;
    background-repeat: no-repeat;
    background-size: cover;
    background: url('/public/home/phone.svg');
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.homepage .character_img.right {
    /* position: absolute; */
    width: 65px;
    height: 61px;
    background-repeat: no-repeat;
    background-size: cover;
    background: url('/public/home/rotate.svg');
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}


.static_frame .static_width {
    width: 1320px
}


.homepage .static_box {

    margin: 10px px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.homepage .static_box .static_num {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    color: #000;
}

.static_box .character_text {
    margin: 20px;
}

.homepage .static_box .static_text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;

    color: #000;
}

.homepage .top_shop_frame {
    width: 100%;
    height: 670px;
    display: flex;
    background: #f5f5f5;
}


.homepage .category_title {

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 35px;
    margin-top: 90px;

    color: #222222;
}

.homepage .category_title_shop {

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 45px;
    margin-top: 90px;
    z-index: 1;

    color: #1f1f1f;
}

.customer_card {
    height: auto;
    width: 320px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.customer_card1 {
    height: auto;
    width: 310px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 40px;
    z-index: 1;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
}

@keyframes moveUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10px);
    }
}

.customer_card1:hover {
    animation: moveUp 0.3s ease-in-out forwards;
}

.back {

    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 2300px;
}

.back1 {

    background-repeat: no-repeat;
    position: absolute;
    left: -50px;
    top: 2500px;
}

.back2 {

    background-repeat: no-repeat;
    position: absolute;
    left: 300px;
    top: 3200px;

}


.back3 {

    background-repeat: no-repeat;
    position: absolute;
    right: 50px;
    top: 3600px;

}

.back4 {
    background-repeat: no-repeat;
    position: absolute;
    left: -100px;
    top: 3880px;
}

.back5 {
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 4350px;
}

.back6 {
    background-repeat: no-repeat;
    position: absolute;
    left: 70px;
    top: 4650px;
}

.back7 {
    background-repeat: no-repeat;
    position: absolute;
    right: 50px;
    top: 5150px;
}



.homepage .best_shop_frame {
    width: 100%;
    height: 710px;
    display: flex;
    background: #f5f5f5;
}

.homepage .best_dishes_frame {
    width: 100%;
    height: 690px;
    display: flex;
    background: #f5f5f5;

}


.homepage .product_box {
    margin-right: 13px;
    margin-left: 13px;
    border-radius: 30px 30px 15px 15px;
    width: 273px;
    height: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
}

@keyframes moveUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10px);
    }
}

.product_box:hover {
    animation: moveUp 0.3s ease-in-out forwards;
}

.homepage .product_box .products_img {
    position: relative;
    width: 273px;
    height: 275px;
    background-size: cover;
    border-radius: 5%;
    /* background-image: url('/public/restaurant/dish.png'); */
    display: flex;
    flex-direction: column;

}


.homepage .view_btn {
    width: 100%;
    height: 100%;
    /* margin-top: 100px; */
    /* margin-left: 60px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.5s ease;
    background: rgba(28, 23, 23, 0.59);
    /* border: 2px solid #b48b50; */
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    backdrop-filter: blur(1px);
    font-size: 13px;
    line-height: 20px;
    color: #f5f5f5;
    filter: grayscale(1);
}

.homepage .products_img:hover .view_btn {
    opacity: 1;
}

.card_style {
    justify-content: flex-start;
    position: absolute;
    top: 20px;
}

.homepage .product_box .products_desc {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage .products_desc .products_title_text {
    margin-top: 5px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.homepage .product_country_text {
    margin-top: 10px;
    color: #1f1f1f;
}

.homepage .products_desc .products_desc_text {
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #1f1f1f;
}

.products_color_text {
    margin-top: 5px;
    color: #1f1f1f;
}


.homepage .ads_shop_frame {
    width: 100%;
    /* height: 810px; */
    display: flex;
    overflow: hidden;
    box-shadow: 0px -22px 40px rgba(0, 0, 0, 0.25)
        /* margin-top: 100px; */
        /* background-color: #956dd3; */
}

.homepage .ads_video {
    /* width: 100%; */
    background: #0c0e12;
    display: flex;
    box-shadow: 0px -8px 90px rgb(215 215 255);
    /* transform: scale(1.5); */
    overflow: hidden;
}

.homepage .events_frame {
    margin-top: 45px;
    width: 100%;
    height: 700px;
    display: flex;
    overflow: hidden;
}

.prev_next_frame1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 24px;

    margin-bottom: 20px;
}

.homepage .dot_frame_pagination {
    position: relative;
    width: auto;
    display: flex;
}


.homepage .swiper-wrapper {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.review_for_shop .swiper-wrapper:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}
.homepage .swiper-pagination-bullet {
    margin-right: 5px;
    width: 8px;
    height: 8px;
    text-align: center;
    opacity: 1;
    background: white;
    border-radius: 50%;
}

.homepage .swiper-pagination-bullet-active {
    background: #007bff;
    border-radius: 50%;
}

.swiper-width {
    height: 300px;
    width: 275px;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
}
.card:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease-in-out;
}
.card_desc {
    font-style: italic;
}

.homepage .top_article_frame {
    width: 100%;
    height: auto;
    display: flex;
}

.homepage .article_main {
    margin-top: 32px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homepage .article_main .article_container {
    width: 568px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.homepage .article_main .article_category {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 44px;
    color: #222222;
}

.homepage .article_container .article_box {
    margin-top: 18px;
    width: 100%;
    height: auto;
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    background: #fff;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.homepage .article_container .article_box:hover{
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}

.homepage .article_container .article_news {
    width: 100%;
    border-radius: 20px;
    height: 380px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    box-shadow: 0px 4px 40px rgba(83, 38, 208, 0.25);
}

.homepage .article_box .article_img {
    width: 150px;
    height: 153px;
    border-radius: 0px;
    background-size: cover;
    object-fit: contain;
    border-radius: 20px 0 0 20px;
    background-repeat: no-repeat;
}

.homepage .article_box .article_info {
    padding: 10px 0px;
    width: 420px;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 20px;
    
}

.homepage .article_info .article_main_info {
    width: 92%;
    height: 95%;
}

.homepage .article_main_info .article_author {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.homepage .article_author .author_username {
    margin-left: 10px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.homepage .article_main_info .article_title {
    margin-top: 18px;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #000;
}

.homepage .article_main_info .article_desc {
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #808080;
}

.coin-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    
}

.coin-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 16px;

}

.coins-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    color: #333333;
    background-color: #FAFAFA;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    border-radius: 5px;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.25);
}

.coins-table th,
.coins-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}



.coins-table tr:nth-child(even) {
    background-color: #F9F9F9;
}

.coins-table tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.coins-table tr:hover {
    background-color: #ECECEC;
    color: #333333;
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.green {
    color: green;
}

.red {
    color: red;
}

.coin-img {
    margin-right: 10px;
}

.coin-img-wrapper {
    display: flex;
    align-items: center;
}

.coin-button {
    margin-top: 16px;

}


.homepage .category_title_coin {

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;



    color: #222222;
}

.homepage .coin_frame {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    z-index: 1;
}

.coin_frame_width{
    width: 1320px;
    flex-direction: column;
    align-items: center;
}

.category_title_sec {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 35px;
    color: #222222;
    height: auto;
    text-align: center;
}

.homepage .static_frame_att {
    width: 1440px;
    position: relative;
    z-index: 2;
    height: 510px;

}

.homepage .basic_frame {
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    height: auto;
    display: flex;
    background: white;
    z-index: 2;
    margin-top: 35px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
}


.static_box_att_left {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    width: 600px;
    height: 300px;

}

.static_box_att_right {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    width: 600px;
    height: 300px;


}

.homepage .attention_img.left {
    width: 65px;
    height: 65px;
    background: url('/public/home/error.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;

}


.homepage .lock_img.right {
    /* position: absolute; */
    width: 65px;
    height: 65px;
    background: url('/public/home/lock.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.static_info_left {
    margin-bottom: 15px;
    font-size: 27px;
    line-height: 38px;
    letter-spacing: -1px;
    color: rgb(27, 26, 25);
}

.static_info_right {
    margin-bottom: 15px;
    font-size: 27px;
    line-height: 38px;
    letter-spacing: -1px;
    color: rgb(27, 26, 25);
}

.static_text_left {
    font-size: 1.1rem;
    line-height: 26px;
    color: #1f1f1f;
    text-align: center;
    padding: 0px 80px;
    font-weight: 500;
}

.static_text_right {
    font-size: 1.1rem;
    line-height: 26px;
    color: #1f1f1f;
    text-align: center;
    padding: 0px 80px;
    font-weight: 500;
}

.static_box_att_left,
.static_box_att_right {
    /* Add your static box styles here */
    transition: transform 0.3s ease;
    /* Apply a transition to the transform property */
}

.static_box_att_left:hover,
.static_box_att_right:hover {
    transform: scale(1.1);
    cursor: pointer;
    /* Apply a scale transformation when hovering */
}

.attention_img.left,
.lock_img.right {
    /* Add your attention and lock image styles here */
    transition: opacity 0.3s ease;
    /* Apply a transition to the opacity property */
}

.attention_img.left:hover,
.lock_img.right:hover {
    opacity: 0.8;
    /* Reduce opacity when hovering */
}
.attention_img.left,
.lock_img.right {
     /* Add your attention and lock image styles here */
  animation: shakeIcon 5s linear infinite; /* Apply the animation with 0.4 seconds duration */
  transform-origin: top; /* Set the rotation origin to the center of the icon */
}
        @keyframes shakeIcon {
            0% {
                transform: translateX(0);
                /* Start position */
            }
    
             25% {
                transform: translateX(0) rotate(-12deg);
                /* Shake to the left */
            }
    
            75% {
                transform: translateX(0) rotate(12deg);
                /* Shake to the right */
            }
            
            100% {
                transform: translateX(0) ;
                /* End position */
            }
        }



/** review*/
.review_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review_for_shop {
    width: auto;
    height: 450px;
    display: flex;
    background: #f5f5f5;
}
.review_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    border-bottom: 0.5px solid gray;
    background: #ffffffd0;
    border-radius: 10px;
    color: #000;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.img_wrapper {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: center;
}

.review_left {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.review_right {
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0px 40px;
}

.review_title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 5px 0 0 0;
}

.review_title_p {
    font-style: italic;
    color: #a1a1a1;
    display: flex;
    justify-content: center;
    margin: 0;
}

.review_right .review_icons {
    margin-left: 20px;
}

.review_right .review_text {
    display: inline-block;
    width: 95%;
    border-left: 5px solid #ccc;
    margin: 0;
    padding: 10px 20px;
    font-style: italic;
    text-align: center;
}

.review_text_auth {
    display: inline-block;
    width: 100%;
    border-left: 5px solid #ccc;
    margin: 0;
    padding: 10px 0px;
    font-style: italic;
    text-align: center;
}


.category_title_review {
    font-family: "Dancing Script", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #222222;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
}

.review_img {
    width: 130px;
    height: 130px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 37px;
    margin: 20px 20px 0 20px;
}


