.order_page {
    width: 100%;
    height: auto;
    background: #f5f5f5;

    display: flex;
}

.back20 {
    background-repeat: no-repeat;
    position: absolute;
    left: -50px;
    top: 550px;
}

.back21 {
    background-repeat: no-repeat;
    position: absolute;
    right: 30px;
    top: 700px;
}

.back22 {
    background-repeat: no-repeat;
    position: absolute;
    left: 220px;
    top: 1100px;
}

.back23 {
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 1150px;
}
.order_page .order_left {
    width: 70%;
    height: auto;
}

.order_page .order_right {
    margin-top: 86px;
    margin-left: 30px;
    width: 30%;
    height: auto;

    display: flex;
    flex-direction: column;
}

.order_page .order_right .order_info_box {
    padding: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: #ffffff; */
    backdrop-filter: blur(3px);
    border: 1px solid #1f1f1f;
    border-radius: 16px;
}

.order_page .order_info_box .order_user_img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order_page .order_info_box .order_user_img .order_user_avatar {
    width: 117px;
    height: 112px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 37px;
}

.order_page .order_info_box .order_user_icon_box {
    position: absolute;
    padding: 5px;
    width: 30px;
    height: 30px;
    top: 81%;
    right: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.33);
    border-radius: 37px;
}

.order_page .order_user_icon_box .order_user_prof_img {
    filter: brightness(0) invert(1);
}

.order_page .order_info_box .order_user_name {
    margin-top: 10px;
    font-family: "Commissioner",
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: #08090d;
}

.order_page .order_info_box .order_user_prof {
    font-family: "Commissioner", sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 17px;
    color: #1f1f1f;
}

.order_page .order_info_box .order_user_address {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.order_page .order_info_box .spec_address_txt {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1f1f1f;
    
}

.order_page .order_info_box .card_input {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 40px;
    background: #f5f5f5;
    border-radius: 10px;

    font-family: "Nunito",
        sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    border: 0.5px solid #b3a6a6;
    letter-spacing: -0.02em;
    color: #434141;
}

.order_page .order_info_box .card_half_input {
    margin-top: 10px;
    padding: 10px;
    width: 49%;
    height: 40px;
    background: #f5f5f5;
    border-radius: 10px;

    font-family: "Nunito",
        sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    border: 0.5px solid #b3a6a6;
    letter-spacing: -0.02em;
    color: #434141;
}

.order_page .card_num {
    width: 100%;
    background: transparent;
    border: 1px solid #1f1f1f;
    border-radius: 5px;
    /* border: none; */
    height: 40px;
    padding: 0px 10px;
    font-size: 16px;
    margin-top: 20px;
}

.order_page .card_date {
    width: 48%;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #1f1f1f;
    height: 40px;
    padding: 0px 10px;
    font-size: 16px;
}
.order_page .card_name {
    width: 100%;
    border: 1px solid black;
    background: transparent;
    border-radius: 5px;
    /* border: none; */
    height: 40px;
    padding: 0px 10px;
    font-size: 16px;
    margin-top: 20px;
}
.order_page .order_info_box .cards_box {
    margin-top: 35px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order_page .order_info_box .css-wca78v-MuiButtonBase-root-MuiButton-root {
    min-width: 160px;
}

.order_page .order_left .order_nav_frame {
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #1f1f1f;
}

.order_page .css-1gsv261 {
    width: 75%;
}

.order_page .css-heg063-MuiTabs-flexContainer {
    justify-content: space-between;
}

.order_page .order_main_content {
    width: 100%;
    height: auto;
}

.order_page .css-19kzrtu {
    padding-top: 24px;
}

.order_page .order_main_content .order_main_box {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    background: transparent;
    backdrop-filter: blur(3px);
    border: 1px solid #1f1f1f;
    border-radius: 16px;
}

.order_page .order_main_content .order_main_box .order_box_scroll {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.order_page .order_box_scroll .ordersName_price {
    position: relative;
    width: 100%;
    height: 47px;
    margin-top: 5px;
    margin-left: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.order_page .order_box_scroll .ordersName_price .order_product_img {
    position: relative;
    width: 50px;
    height: 47px;
    border-radius: 10px;
    background-size: cover;
}

.order_page .order_box_scroll .ordersName_price .title_product {
    position: relative;
    width: 260px;
    height: 36px;
    margin-left: 25px;
    font-family: "Commissioner", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #000000;
}

.order_page .order_box_scroll .ordersName_price .priceBox {
    position: relative;
    max-width: 170px;
    height: 100%;
    margin-left: 70px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.order_page .order_box_scroll .ordersName_price .priceBox p {
    font-family: "Poppins",
        sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    color: #262626;
}

.order_page .order_main_content .order_main_box .total_price_box {
    position: relative;
    width: 100%;
    height: 41px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    border-radius: 5px;
}

.black_solid {
    border-top: 1px solid black;
}

.blue_solid {
    border-top: 1px solid #1f1f1f;
}

.red_solid {
    border-width: 1px 0px;
    border-top: 1px solid #1f1f1f;
    border-color: #1f1f1f;
}

.order_page .order_main_content .order_main_box .total_price_box .boxTotal {
    position: relative;
    height: 100%;
    margin-rght: 90px;
    width: 50%;
    display: flex;
    color: #1f1f1f;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.order_page .order_main_content .order_main_box .total_price_box .boxTotal1 {
    position: relative;
    height: 100%;
    width: 60%;
    display: flex;
    color: #1f1f1f;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.order_main_content .order_main_box .total_price_box .boxTotal2 {
    position: relative;
    height: 100%;
    width: 85%;
    display: flex;
    color: #1f1f1f;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.order_page .total_price_box .boxTotal p {
    font-family: "Commissioner", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    color: #1f1f1f;
}

.order_page .total_price_box .boxTotal .data_compl {
    /*margin-left: 20px;*/
    font-family: "Commissioner",
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    /* or 257% */
    color: #000000;
}